.f-col-left
        .f-logo
          a(href="./index.html")
            img(src="./assets/img/images/logo.png", alt="Resilient Forestry" width="150")
        p.text-center.sp Resilient Forestry has a unique skill set in monitoring changes in forests over time for compliance or research objectives. 
        ul.list-social
          li
            a(href="#" target="_blank") 
              img(src="./assets/img/icons/twitter.svg", alt="Twitter", width="18")
          li
            a(href="#" target="_blank") 
              img(src="./assets/img/icons/linked.svg", alt="Linked In", width="17")
          li
            a(href="#" target="_blank") 
              img(src="./assets/img/icons/facebook.svg", alt="Facebook", width="10")
          li
            a.instagram(href="#" target="_blank")
              img(src="./assets/img/icons/instagram.svg", alt="Instagram", width="32")