h2.primary-title.text-center
    span.section-sub-ttl OUR SERVICES
    span.section-ttl Stewardship
include ../_block/footer-gallary.pug

h3 How we do?
p Resilient Forestry’s mission is to achieve the greatest outcome based on the best available science for our ecosystems and their surrounding communities. Our purpose is to clearly share our knowledge and expertise with forest managers to facilitate meeting functional ecosystem management objectives over the long term. We strive to translate the latest science into practical solutions that increase the efficiency and effectiveness of management actions.
p We work with forest owners on all aspects of implementing forest stewardship plans and timber sales. Services include stand exams, stream typing, cruising, harvest layout, DNR and county permitting, contract and compliance administration, We have extensive experience with thinning mature stands, wildlife habitat improvement projects, non-commercial vegetation treatments and seedling planting projects, and working with multiple stakeholders to communicate the benefits and trade-offs of forest management.
.quote 
p Resilient Forestry has a unique skill set in monitoring changes in forests over time for compliance or research objectives. We design and implement seedling survival studies, pre- and post-harvest monitoring, and long-term forest vegetation surveys for public and private clients around the world.
hr.my-5
h3 Stewardship Projects
p Resilient Forestry LLC was formed in 2018 and focuses on conservation-oriented forest management, collaborative and multi-stakeholder forests, forest management on public land, and forest ecosystem analysis. Resilient specializes in forestry projects that balance economic requirements with ecological and public use objectives.
p We work with forest owners on all aspects of implementing forest stewardship plans and timber sales. Services include stand exams, stream typing, cruising, harvest layout, DNR and county permitting, contract and compliance administration, We have extensive experience with thinning mature stands, wildlife habitat improvement projects, non-commercial vegetation treatments and seedling planting projects, and working with multiple stakeholders to communicate the benefits and trade-offs of forest management.