.container.post-detail
    include ../_block/services-content.pug
    include ../_block/services-slider.pug
    .section-button.text-center 
        a.text-link-arrow(href="./blog.html") See all blog posts