.services-block-slider.basic-slider.block-full
        .card.post-card.services-post
            a.post-link-img(href="./blog-detail.html")
                img.card-img-top(src="./assets/img/images/services-post-img-01.jpg", alt="")
            .card-body
                h5.card-title
                    a(href="./blog-detail.html") Miller River
                p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
                .card-footer
                    p.post-date 8/23/2021
                    a(href="./blog-detail.html").post-link.btn-more More
        .card.post-card.services-post
            a.post-link-img(href="./blog-detail.html")
                img.card-img-top(src="./assets/img/images/services-post-img-02.jpg", alt="")
            .card-body
                h5.card-title 
                    a(href="./blog-detail.html") Other Small Private Land Owner Projects
                p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
                .card-footer
                    p.post-date 8/23/2021
                    a(href="./blog-detail.html").post-link.btn-more More
        .card.post-card.services-post
            a.post-link-img(href="./blog-detail.html")
                img.card-img-top(src="./assets/img/images/services-post-img-03.jpg", alt="")
            .card-body
                h5.card-title
                    a(href="./blog-detail.html") King’s Country
                p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
                .card-footer
                    p.post-date 8/23/2021
                    a(href="./blog-detail.html").post-link.btn-more More
        .card.post-card.services-post
            a.post-link-img(href="./blog-detail.html")
                img.card-img-top(src="./assets/img/images/services-post-img-02.jpg", alt="")
            .card-body
                h5.card-title
                    a(href="./blog-detail.html") Other Small Private Land Owner Projects
                p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
                .card-footer
                    p.post-date 8/23/2021
                    a(href="./blog-detail.html").post-link.btn-more More