extends _layouts/default
block vars
    - var title="Services-KNT"
    - var menu_name = "services"

block main 
    .page-visual(style="background-image: url('./assets/img/images/visual-img-02.jpg');")
    include ./_block/services-post-detail.pug